<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name</label>
  <input type="text" name="figure[name]">
  <br>
  <h2>Titles</h2>
  <!-- <label>The Mayor</label>
  <input type="c" name="" value=""> -->
</form>
